#zone{
    width: 400px;
    height: 300px;
    margin:0 auto;
    background-color: blue;
    color: white;
    display: flex;
   align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
}      

@media (max-width: 768px) {
    #box {
      width: 70%; 
    }
  }

  @media (max-width: 480px) {
    #box {
      width: 90%; 
      height: 150px;
  }
}